.listHeader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  background-color: #54608a;
  color: #f5c254;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  padding: 1rem 1rem 1rem 1rem;
  
}
